.detailsSec {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;

    .userDetails {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 15px 0;

        img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin-bottom: 10px;
        }


    }

    .chatMedia {
        overflow-x: hidden;
        padding: 10px;
        width: 100%;
        border-radius: 10px;

        p {
            color: rgb(203, 203, 203);
            font-size: 13px;
            margin: 4px 0;
        }

        .scrollContainer {
            display: flex;
            gap: 10px;
            padding: 10px;
            overflow-x: auto;
            scrollbar-width: none;
            -ms-overflow-style: none;
            background: rgba(255, 255, 255, 0.05);

            &::-webkit-scrollbar {
                display: none;
            }
        }

        img {
            width: 90px;
            height: 90px;
            border-radius: 10px;
            object-fit: cover;
            cursor: pointer;
        }
    }

    .sharedFiles,
    .chatSettings {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.158);

        p {
            color: rgb(203, 203, 203);
            font-size: 13px;
            margin: 4px 0;
        }

        .setting {
            background-color: rgba(255, 255, 255, 0.158);
            border-radius: 50%;
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            img {
                width: 15px;
                height: 15px;
            }
        }
    }

    .block {
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        cursor: pointer;
        padding: 10px;
        width: 90%;
        background-color: red;
        color: white;
        border-radius: 5px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}