.chatList {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;

  .search {
    background-color: rgba(1, 44, 1, 0.473);
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.726);

    img {
      width: 20px;
      height: 20px;
      margin: 5px;
    }

    input {
      background: transparent;
      flex: 1;
      border: none;
      color: white;

      &:focus {
        outline: none;
      }
    }
  }

  .chats {
    overflow-y: scroll;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 17px;
    flex: 1;
    padding: 5px;


    .chat {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      cursor: pointer;

      .chatUserInfo {
        display: flex;
        align-items: center;
        flex: 1;
        min-width: 0;

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-right: 10px;
          flex-shrink: 0;
        }

        .chatDetails {
          flex: 1;
          min-width: 0;
          
          h4 {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            
          }

          p {
            font-size: 13px;
            margin-top: 5px;
            color: rgba(255, 255, 255, 0.726);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }

      .chatTime {
        font-size: 13px;
        white-space: nowrap;
        margin-top: 5px;
        color: rgba(255, 255, 255, 0.726);
        flex-shrink: 0;
      }
    }
  }
}