section{
    form{
        display: flex;
        flex-direction: column;
        gap: 10px;
        h2{
            color: white;
            font-size: 24px;
            margin-bottom: 10px;
        }
        .inputBox{
            display: flex;
            flex-direction: column;
            gap: 5px;

            label{
                font-size: 14px;
                color: rgb(203, 203, 203);
            }

            input{
                padding: 10px;
                border-radius: 5px;
                border: none;
                outline: none;
                background-color: rgba(255, 255, 255, 0.05);
                color: white;
                font-size: 16px;

                &::placeholder{
                    color: rgba(255, 255, 255, 0.5);
                }
            }
        }
    }
    .links{
        margin-top: 10px;
        font-size: 14px;
        color: rgb(203, 203, 203);
        a{
            color: #1a7d1f;
            cursor: pointer;
            margin-left: 4px;
        }
    }
    .btn{
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #1a7d1f;
        color: white;
        font-size: 16px;
        cursor: pointer;
        margin-top: 10px;
        &:disabled{
            cursor: not-allowed;
            background-color: #125215b7;
        }
    }
}